.ico {
  background-image: url("../src/icon/icons.svg");
}

.icon-car {
  background-position: 0 100%;
}

.icon-car-dims {
  width: 36px;
  height: 34px;
}

.icon-plane-landing {
  background-position: 100% 0;
}

.icon-plane-landing-dims {
  width: 39px;
  height: 30px;
}

.icon-plane-takeoff {
  background-position: 0 0;
}

.icon-plane-takeoff-dims {
  width: 40px;
  height: 30px;
}

