{#
/**
 * @file
 * Theme override to display the header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('drupal_starter_theme/header') }}
<a href="/" id="site-branding"><svg id="sfo_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.1 43.4" role="img" aria-labelledby="sfo_logo_title"><!-- Created by Kim Lai, Kanopi Studios --><title id="sfo_logo_title">SFO Logo</title><style type="text/css">.bg{fill:#00587C;}  .fg{fill:#FFFFFF;}</style><path class="bg" d="M65.7 27.8c5.1-0.4 10.2-0.6 15.3-0.6l0 0v5C76.1 30.4 71 29 65.7 27.8L65.7 27.8 65.7 27.8z"/><path class="bg" d="M0.1 0.1h81.1v2.7l-0.1 22.6v0.3c-7.1-0.1-14 0.3-20.8 1.1l0 0 0 0c-7.8-1.3-15.9-1.8-24.4-1.7C20.3 25.3 7.3 28 0.1 29.8"/><path class="bg" d="M57.4 27.5c-6 0.8-11.8 2-17.5 3.4 -7.8 2-15.1 4.6-21.5 7.6l0 0c-7.3 1.3-13.4 3-18.3 4.7v-0.5V31l0 0c7.1-1.8 20.2-4.5 35.7-4.8C43.3 26.1 50.5 26.5 57.4 27.5L57.4 27.5 57.4 27.5z"/><path class="bg" d="M24.8 37.5c14.9-2 33.8-2.2 56.3 2.5v-6.5c-5.7-2.1-11.8-3.8-18.1-5l0 0c-7.8 0.8-15.4 2.2-22.8 4.1C34.8 33.9 29.6 35.6 24.8 37.5"/><path class="fg" d="M53.4 9c-0.5-0.2-1.2-0.4-2.2-0.4 -1.4 0-2 0.6-2 1.2 0 0.7 0.7 1.1 2.3 1.6 2.1 0.6 3.2 1.4 3.2 2.9s-1.3 3-4.5 3c-1.3 0-2.7-0.3-3.4-0.7l0.9-1.4c0.7 0.3 1.7 0.6 2.7 0.6 1.4 0 2.2-0.5 2.2-1.3 0-0.7-0.6-1.2-2.2-1.6C48.3 12.4 47 11.5 47 10c0-1.6 1.7-2.8 4.2-2.8 1.3 0 2.3 0.2 3 0.5L53.4 9 53.4 9z"/><polygon class="fg" points="62.6 12.9 59 12.9 59 17.1 56.9 17.1 56.9 7.3 64 7.3 64 8.8 59 8.8 59 11.4 62.9 11.4"/><path class="fg" d="M70.9 15.8c-2.2 0-3.6-1.6-3.6-3.5 0-2 1.3-3.6 3.6-3.6 2.3 0 3.6 1.7 3.6 3.6C74.6 14.2 73.2 15.8 70.9 15.8L70.9 15.8 70.9 15.8zM70.9 17.2c3.4 0 6-2 6-5.1 0-2.8-2.3-5-5.8-5s-5.9 2.1-5.9 5.1C65.1 15.1 67.4 17.2 70.9 17.2L70.9 17.2 70.9 17.2z"/></svg></a>
{% if content %}
  {{ content }}
{% endif %}
